In [18]:
import  numpy as  np  

a =  np.tile(np.arange(0  ,  40  ,  10  )  ,  ( 3 ,  1  ))
a  
a = a.T 
a  


b    = np.array([0 , 1  , 2 ])
a   =  a+  b 
a

array([[ 0,  1,  2],
       [10, 11, 12],
       [20, 21, 22],
       [30, 31, 32]])

In [25]:
a  =  np.array([10 ,  20 ,  30 ,  40  ])
print(a.shape )
print(a.ndim)


a  =  a[  :  ,  np.newaxis]
print(a.shape)
a  

b  = np.array([1  , 2  ,3  ,4  ])
a  = a  + b  
a

(4,)
1
(4, 1)

array([[11, 12, 13, 14],
       [21, 22, 23, 24],
       [31, 32, 33, 34],
       [41, 42, 43, 44]])